.App {
  font-family: sans-serif;
  text-align: center;
  width: 576px;
}

nav.menu {
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

nav.menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

nav.menu ul li.item-menu {
  font-size: 24px;
  background-color: lightskyblue;
  border: 1px solid steelblue;
  padding: 8px 12px;
  border-radius: 10px;
}

#pai {
  width: 576px;
  height: 600px;
  background-color: aqua;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.box {
  width: 160px;
  height: 200px;
  background-color: blue;
  border: 3px solid black;
}

@media(min-width: 576px) {

  #pai {
    background-color: coral;
  }

  nav.menu {
    width: 100%;
  }

  nav.menu ul {
    justify-content: center;
    flex-direction: row;
  }

  nav.menu ul li.item-menu {
    width: 100%;
  }
}